#gameContainer {
  width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #000;
}

.pixel {
  width: 10px;
  height: 10px;
  box-sizing: border-box;
}

.snakeBodyPixel {
  background-color: green;
}

.food {
  background-color: red;
}

.scoreBoard {
  margin-top: 10px;
  font-weight: bold;
}


